.sidebar-card {
  height: 99.7%;
  border-top: none;
  border-left: 1px solid var(--p-content-border-color);
  border-right: 1px solid var(--p-content-border-color);
  border-bottom: 1px solid var(--p-content-border-color);
}