<div style="max-width: 100%; overflow-x: auto;">
    <p-table
        [value]="raids"
        scrollable="true"
        scrollHeight="flex"
        [tableStyle]="{ 'min-width': 'fit-content' }"
        styleClass="p-datatable-sm">

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn style="width: 16rem;">Raids</th>

                <th *ngFor="let char of characters" style="width: 16rem; text-align: center;">
                    <div class="flex align-items-center justify-content-center gap-1">
                        <img [src]="char.characterClassIcon" width="24" height="24">
                        {{ char.name }}
                    </div>
                </th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-raid>
            <tr>
                <td pFrozenColumn style="width: 16rem;">
                    <div class="flex align-items-center gap-2">
                        <img [src]="getRaidIcon(raid.type)" width="20" />
                        {{ raid.name }}
                    </div>
                </td>

                <td *ngFor="let char of characters" class="text-center" style="width: 8rem;">
                    <p-toggle-button
                        [ngModel]="getCharacterRaid(raid.id, char.id)?.tracked"
                        (onChange)="onToggle(raid, char)">
                    </p-toggle-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
