<div class="grid" style="height: 100%;">
    <div class="col-4 overflow-y-auto h-full p-2">
        <h1>Gate Details</h1>
        <div *ngFor="let gateDetail of gateDetailsData" class="mt-2">
            <p-button
                [label]="'[' + gateDetail.difficulty + ']' + ' ' + gateDetail.gateName"
                [severity]="getSeverity(gateDetail)"
                (onClick)="loadRewards(gateDetail)"></p-button>
        </div>
    </div>

    <div class="col-3 p-2">
        <h1>Reward Form</h1>
        <form #rewardForm="ngForm">
            <p-floatlabel class="w-56" variant="on">
                <p-select [options]="typeRewards" inputId="on_label" optionLabel="name" name="reward" [(ngModel)]="selectedTypeReward" styleClass="w-full">
                    
                    <!-- Template for the selectedItem -->
                    <ng-template pTemplate="selectedItem" let-item>
                        <div class="flex align-items-center gap-2">
                            <img [src]="item.icon" alt="" width="32" height="32" />
                            <span>{{ item.name }} </span>
                        </div>
                    </ng-template>

                    <!-- Template for the Select Item -->
                    <ng-template pTemplate="item" let-item>
                        <div class="flex align-items-center gap-2">
                            <img [src]="item.icon" alt="" width="32" height="32" />
                            <span>{{ item.name }} </span>
                        </div>
                    </ng-template>
                </p-select>

                <label for="on_label">Type Rewards</label>
            </p-floatlabel>

            <label>Quantity</label>
            <p-input-number [required]="true"></p-input-number>

            <label>Is Extra Reward?</label>
            <p-checkbox></p-checkbox>

            <p-button label="Submit" [disabled]="rewardForm.form.invalid"></p-button>
        </form>
    </div>

    <div class="col-4 p-2">
        <h3>Rewards</h3>
    </div>
</div>