<div class="relative w-16 h-16 flex-shrink-0 border-1">
    <img 
        [src]="reward.typeReward?.icon" 
        alt="{{ reward.typeReward?.name }}"
        width="64" height="64"
        pTooltip="{{ reward.typeReward?.name }}"
        class="border-round object-contain"
    />
    <div class="absolute bottom-0 right-0 bg-black bg-opacity-50 text-white text-xs px-1 py-0.5 rounded">
        <ng-container *ngIf="showExtraLabel; else normalAmount">
            <span class="font-semibold">[Extra]</span> {{ reward.ammount }}
        </ng-container>

        <ng-template #normalAmount>
            {{ reward.ammount }}
        </ng-template>
    </div>
</div>