.remove-btn {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    margin: 4px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.reward-icon:hover .remove-btn {
    opacity: 1;
}