<h1>Raids</h1>
<div class="flex flex-wrap gap-3">
  <div *ngFor="let raid of raids" class="flex-none">
    
    <div class="flex justify-content-between align-items-stretch surface-card border-round" style="min-height:120px; width: 400px;">
      
      <!-- Left side: text stack -->
      <div class="flex flex-column justify-content-between p-3" style="width:50%;">
        <div class="text-left text-4xl font-bold raid-name">{{ raid.name }}</div>
        <div class="text-left text-sm text-gray-500">{{ raid.type }}</div>
      </div>
      
      <!-- Right image -->
      <img src="temp.webp" alt="icon" class="flex-none pr-2 raid-img">
      
    </div>
  </div>
</div>
