<p-dialog 
  [header]="mode === 'login' ? 'Login' : 'Register'"
  [modal]="true"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  (onHide)="close()"
  [style]="{ width: '25rem' }">

    <form #authForm="ngForm" (ngSubmit)="submit" class="flex flex-column" style="height: 100%;">
        <div class="flex flex-column gap-2 flex-grow-1 overflow-auto">
        
            <!-- Subtitle -->
            <span class="p-text-secondary block mb-4">
                {{ mode === 'login' ? 'Enter your credentials to sign in.' : 'Create a new account.' }}
            </span>

            <!-- Email -->
            <div class="flex align-items-center gap-4 mb-4">
                <label for="email" class="font-semibold w-4rem">Email</label>
                <input pInputText id="email" class="flex-auto text-lg" [(ngModel)]="email" autocomplete="off" pSize="Small" [required]="true" />
            </div>

            <!-- Username -->
            <div class="flex align-items-center gap-4 mb-4" *ngIf="mode === 'register'">
                <label for="username" class="font-semibold w-4rem">Username</label>
                <input pInputText id="username" class="flex-auto text-lg" [(ngModel)]="username" autocomplete="off" pSize="Large" [required]="true" />
            </div>

            <!-- Password -->
            <div class="flex align-items-center gap-4 mb-4">
                <label for="password" class="font-semibold w-4rem">Password</label>
                <input pInputText type="password" id="password text-lg" class="flex-auto" [(ngModel)]="password" autocomplete="off" pSize="Large" [required]="true" />
            </div>

            <!-- Confirm Password -->
            <div class="flex align-items-center gap-4 mb-4" *ngIf="mode === 'register'">
                <label for="confirmPassword" class="font-semibold w-4rem">Confirm Password</label>
                <input pInputText type="password" id="confirmPassword text-lg" class="flex-auto" [(ngModel)]="confirmPassword" autocomplete="off" pSize="Large" [required]="true" />
            </div>
        </div>

        <!-- Footer -->
        <div class="flex flex-column gap-2 mt-4">
        <div class="text-sm">
            {{ mode === 'login' ? "Not a member?" : "Already have an account?" }}
            <a class="ml-1 cursor-pointer" (click)="toggleMode()">
                <span class="text-primary">
                    {{ mode === 'login' ? "Register" : "Login" }}
                </span>
            </a>
        </div>
        <div class="flex justify-content-between gap-2 justify-end">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Submit" (click)="submit()" type="submit" />
        </div>
        </div>
    </form>
</p-dialog>
