<p-toast />
<p-dialog 
  [header]="mode === 'login' ? 'Login' : 'Register'"
  [modal]="true"
  [(visible)]="visible"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  (onHide)="close()"
  [style]="{ width: '25rem' }">

    <form #authForm="ngForm" (ngSubmit)="submit()" class="flex flex-column" style="height: 100%;">
        <div class="flex flex-column gap-2 flex-grow-1 overflow-auto">
        
            <!-- Subtitle -->
            <span class="p-text-secondary block mb-4">
                {{ mode === 'login' ? 'Enter your credentials to sign in.' : 'Create a new account.' }}
            </span>

            <!-- Email -->
            <div class="flex align-items-center gap-4 mb-4">
                <label for="email" class="font-semibold w-4rem">Email</label>
                <div class="flex flex-column flex-auto">
                    <input pInputText
                        id="email"
                        class="flex-auto"
                        name="email"
                        [(ngModel)]="email"
                        (ngModelChange)="onEmailChange($event)"
                        autocomplete="off"
                        [required]="true"
                        [ngClass]="getEmailClass()" />
                    <small class="p-error mt-1" *ngIf="isEmailInvalid && emailTouched">
                        Enter a valid email
                    </small>
                </div>
            </div>

            <!-- Username -->
            <div class="flex align-items-center gap-4 mb-4" *ngIf="mode === 'register'">
                <label for="username" class="font-semibold w-4rem">Username</label>
                <div class="flex flex-column flex-auto">
                    <input pInputText
                        id="username"
                        class="flex-auto"
                        name="username"
                        [(ngModel)]="username"
                        (ngModelChange)="onUsernameChange($event)"
                        autocomplete="off"
                        [required]="true"
                        [ngClass]="getUsernameClass()" />
                    <small class="p-error mt-1" *ngIf="isUsernameInvalid && usernameTouched">
                        Enter a valid username
                    </small>
                </div>
            </div>

            <!-- Password -->
            <div class="flex align-items-center gap-4 mb-4">
                <label for="password" class="font-semibold w-4rem">Password</label>
                <div class="flex flex-column flex-auto">
                    <input pInputText
                        id="password"
                        type="password"
                        class="flex-auto"
                        name="password"
                        [(ngModel)]="password"
                        (ngModelChange)="onPasswordChange($event)"
                        autocomplete="off"
                        [required]="true"
                        [ngClass]="getPasswordClass()" />
                    <small class="p-error mt-1" *ngIf="isPasswordInvalid && passwordTouched">
                        Password must contain 8 characters, including an uppercase letter, a lowercase letter, a number, and a special character.
                    </small>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="flex align-items-center gap-4 mb-4" *ngIf="mode === 'register'">
                <label for="confirmPassword" class="font-semibold w-4rem">Confirm Password</label>
                <div class="flex flex-column flex-auto">
                    <input pInputText
                        id="confirmPassword"
                        type="password"
                        class="flex-auto"
                        name="confirmPassword"
                        [(ngModel)]="confirmPassword"
                        (ngModelChange)="onConfirmPasswordChange($event)"
                        autocomplete="off"
                        [required]="true"
                        [ngClass]="getConfirmPasswordClass()" />
                    <small class="p-error mt-1" *ngIf="isConfirmPasswordInvalid && confirmPasswordTouched">
                        Passwords must match!
                    </small>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="flex flex-column gap-2 mt-4">
        <div class="text-sm">
            {{ mode === 'login' ? "Not a member?" : "Already have an account?" }}
            <a class="ml-1 cursor-pointer" (click)="toggleMode()">
                <span class="text-primary">
                    {{ mode === 'login' ? "Register" : "Login" }}
                </span>
            </a>
        </div>
        <div class="flex justify-content-between gap-2 justify-end">
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Submit" type="submit" [disabled]="!canSubmit" />
        </div>
        </div>
    </form>
</p-dialog>
