<div class="card">
    <p-menubar [model]="items">
        <ng-template #start>
            <a routerLink="/" class="cursor-pointer no-underline">
                <h2>LOAPlanner</h2>
            </a>
        </ng-template>
        <ng-template #item let-item let-root="root">
            <a pRipple class="flex items-center p-menubar-item-link">
                <span [class]="item.icon"></span>
                <span>{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template #end>
            <div class="flex items-center">
                <span class="pi pi-user mr-2"></span>
                <span>{{ username }}</span>
            </div>
        </ng-template>
    </p-menubar>
</div>
