/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Hover on the li triggers child text and icon to turn red */
.p-menu .sign-out-item:hover .p-menu-item-link .p-menu-item-label,
.p-menu .sign-out-item:hover .p-menu-item-link .p-menu-item-icon {
  color: red !important;
}