<div class="flex flex-column h-full">
    <h1 class="flex-none mb-4">Gold Planner</h1>

    @if (loading) {
        <div class="flex-1 flex align-items-center justify-content-center">
            <p-progress-spinner ariaLabel="loading" [style]="{ 'stroke': '#6366f1'}" />
        </div>
    }
    @else if (characters.length === 0) {
        <div class="flex flex-1 align-items-center justify-content-center">
            <h1>No characters found!</h1>
        </div>
    }
    @else {
         <div #tableContainer class="flex-1 overflow-auto">
            <p-table
                [value]="raids"
                scrollable="true"
                scrollHeight="flex"
                showGridlines
                dataKey="id"
                [expandedRowKeys]="expandedRows"
                [tableStyle]="{ width: '100%'}"
                styleClass="p-datatable-sm flex-none">

                <!-- Header -->
                <ng-template pTemplate="header">
                    <tr>
                        <th pFrozenColumn class="frozen">Raids</th>

                        <th
                            *ngFor="let char of characters"
                            class="text-center text-nowrap overflow-hidden"
                            [style.mid-width.px]="100">

                            <div class="flex align-items-center justify-content-center gap-1">
                                <img [src]="char.characterClassIcon" width="24" height="24">
                                <span>{{ char.name }}</span>
                                <span class="text-sm text-gray-600">[{{ char.ilvl }}]</span>
                            </div>
                        </th>
                    </tr>
                </ng-template>

                <!-- Body -->
                <ng-template pTemplate="body" let-raid let-expanded="expanded">
                    <tr>
                        <td pFrozenColumn class="frozen">
                            <div class="flex align-items-center gap-2">
                                <img [src]="getRaidIcon(raid.type)" width="20" />
                                <strong>{{ raid.name }}</strong>
                                <p-button type="button" pRipple [pRowToggler]="raid" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                            </div>
                        </td>

                        <td
                            *ngFor="let char of characters"
                            class="text-center text-nowrap"
                            [style.min-width.px]="200">
                            <span>Placeholder</span>
                        </td>
                    </tr>
                </ng-template>

                <!-- Body - Expanded -->
                <ng-template #expandedrow let-raid>
                    <!-- Gates rows -->
                    <tr *ngFor="let gate of raid.gates">
                    
                        <!-- Gate info -->
                        <td class="p-1">
                            <div class="flex align-items-center gap-2 ml-6">
                                <img [src]="getRaidIcon(raid.type)" width="20" />
                                <strong class="white-space-nowrap">
                                    [Gate {{ gate.number }}] -
                                </strong>
                                <span class="white-space-normal">
                                    {{ gate.name }}
                                </span>
                            </div>
                        </td>

                        <!-- Character Gate Details -->
                        <td *ngFor="let char of characters" class="text-center text-nowrap" [style.min-width.px]="200">

                            <!-- Gate Details -->
                            <div class="flex gap-2 justify-content-center">
                           
                                <div *ngFor="let diff of gate.details" class="flex flex-column gap-1 border-round p-1" style="min-width: 80px;">
                                    @if(char.ilvl >= diff.entryLvl && diff.difficulty == "Normal") {
                                        <button>{{ diff.difficulty }}</button>
                                        <div class="flex flex-column gap-1">
                                            <!-- <div *ngFor="let reward of diff.rewards">
                                                <img pTooltip="{{ reward.type }}" tooltipPosition="top" [src]="reward.icon" width="20" />
                                                {{ reward.amount }}
                                            </div> -->
                                            <div>
                                                <input type="checkbox">
                                                <span pTooltip="{{formatGoldTooltip(diff)}}">
                                                    Gold: <img [src]="goldIcon" width="20" /> {{ getTotalGold(diff) }}
                                                </span>
                                            </div>
                                            <div>
                                                <input type="checkbox">
                                                Extra cost: <img [src]="goldIcon" width="20" /> {{ diff.extralootCost }}
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    }
</div>
